/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-liascript-markdown-block, .liascript-markdown-block {
	background-color: #ffffff;
	color: #fff;
	padding: 10px;
	border: 1px solid #eeee;
}
.liascript-links {
	display: grid;
	grid-template-columns: auto auto;
	justify-items: center;
	width:100%;
}
.liascript-links a{
	font-size: small;
	color: #c0c0c0!important;
	text-decoration: none!important;
}
.wp-block-create-block-liascript-markdown-block .wp-block-embed__wrapper {
	border: 1px solid #dddddd;
}
.wp-block-create-block-liascript-markdown-block .wp-block-embed__wrapper iframe {
	border:0;
}
.ace_editor{
	font-size:15px!important;
}
